[submodule "robot/ros_workspace/src/vision_opencv"]
	path = robot/ros_workspace/src/vision_opencv
	url = git@github.com:ros-perception/vision_opencv.git
[submodule "robot/ros_workspace/src/ydlidar_ros"]
	path = robot/ros_workspace/src/ydlidar_ros
	url = git@github.com:YDLIDAR/ydlidar_ros.git
