<launch>
    <!-- GUI -->
    <node pkg="shamrock_ui" name="ui_node" type="ui_node.py" output="screen" />

    <!-- Teleop control -->
    <node pkg="shamrock_teleop" name="teleop_node" type="teleop_node.py" output="screen" />

    <!-- OpenCV / Vision -->
    <node pkg="shamrock_vision" name="vision_node" type="vision_node.py" output="screen" />
    <node pkg="shamrock_vision" name="lidar_node" type="lidar_node.py" output="screen" />
    <include file="$(find shamrock_vision)/launch/lidar.launch" />
</launch>
